<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">

    {% block css %}
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% endblock %}

</head>

<body>

    <!-- 导航条, https://v3.bootcss.com/components/#navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Main/">Main</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/p_search/">p_search</a></li>
                    <li><a href="/search/">Search</a></li>
                    <li><a href="/search_word/">Search Word</a></li>
                    <li><a href="/search_wildcard/">Search Wild</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <!-- 用户已登录 -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user_information/">Information</a></li>
                                <li><a href="/edit_info/">Edit Information</a></li>
                                <li><a href="#">Library Service</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout/">Quit!!!</a></li>
                            </ul>
                        </li>   
                    {% else %}
                        <!-- 用户未登录 -->
                        <li><a href="/logup/">LogUp</a></li>
                        <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- 新建区域 -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
