{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="search-area" style="text-align: center; margin-bottom: 20px;">
        <form method="post" action="/p_search/">
            {% csrf_token %}
            <div class="input-group" style="margin: auto; width: 50%; padding: 10px;">
                <input type="text" class="form-control" name="title" placeholder="Enter Article Title" style="padding: 10px;">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">GO!!!</button>
                </div>
            </div>
        </form>
    </div>

    <div class="results-area" style="margin: auto; width: 75%;">
        {% if articles %}
            {% for article in articles %}
                <div class="article" style="margin-bottom: 20px; padding: 10px;">
                    <!-- 添加链接到文章标题 -->
                    <h2><a href="{{ article.url }}" target="_blank">Article Title: {{ article.title }}</a></h2>
                    <p><strong>Keywords:</strong> {{ article.keywords }}</p>
                    <div id="snapshot-{{ article.news_id }}" style="display: block;">
                        <p><strong>Snapshot:</strong> {{ article.snapshot }}</p>
                    </div>
                    <div id="content-{{ article.news_id }}" style="display: none;">
                        <p><strong>Content:</strong> {{ article.content }}</p>
                    </div>
                    <button id="button-{{ article.news_id }}" onclick="toggleContent('snapshot-{{ article.news_id }}', 'content-{{ article.news_id }}', 'button-{{ article.news_id }}')">查看全部内容</button>
                </div>
            {% endfor %}
        {% else %}
            {% if search_attempted %}
                <p>No articles found with the given title.</p>
            {% endif %}
        {% endif %}
    </div>
    
    <script>
        function toggleContent(snapshotId, contentId, buttonId) {
            var snapshot = document.getElementById(snapshotId);
            var content = document.getElementById(contentId);
            var button = document.getElementById(buttonId);
    
            if (snapshot.style.display === 'none') {
                snapshot.style.display = 'block';
                content.style.display = 'none';
                button.textContent = '查看全部内容';
            } else {
                snapshot.style.display = 'none';
                content.style.display = 'block';
                button.textContent = '收起';
            }
        }
    </script>
    
</div>

{% endblock %}
